// Colors
$donkerblauw: #2a7fb6;
$lichtblauw: #1db2c1;
$lichtgrijs: #eaeaea;
$lichtgrijs-2: #e2e2e2;
$donkerrood: #ce4348;
$lichtrood: #e0534b;
$white: #fff;
$black: #000;
$gray: #808080;

// Fonts
$mainfont: 'Helvetica', Arial, sans-serif;
$slabfont: 'Roboto Slab', serif;
