// Colors
$donkerblauw: #2a7fb6;
$lichtblauw: #1db2c1;
$lichtgrijs: #eaeaea;
$lichtgrijs-2: #e2e2e2;
$lichtzwart: #333;
$donkerrood: #ce4348;
$lichtrood: #e0534b;

// Neutral colors
$white: #fff;
$black: #000;
$gray: #808080;

// Brand colors
$facebook: #3b5998;
$twitter: #55acee;

// Fonts
$mainfont: 'Helvetica', Arial, sans-serif;
$slabfont: 'Roboto Slab', serif;
