html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

.spinner {
  font-size: 10px;
  height: 40px;
  margin: 100px auto;
  text-align: center;
  width: 50px;
}

.spinner > div {
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  background-color: #333;
  display: inline-block;
  height: 100%;
  width: 6px;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1s;
}

.spinner .rect4 {
  animation-delay: -.9s;
}

.spinner .rect5 {
  animation-delay: -.8s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

.login-button-facebook {
  background-color: #3b5998;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1.6em;
  margin: 1rem auto 2rem;
  padding: .5rem;
  width: 80%;
  position: relative;
  z-index: 4;
}

.login-button-facebook i {
  padding-right: 1rem;
}

.login-button-twitter {
  background-color: #55acee;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1.6em;
  margin: 1rem auto 2rem;
  padding: .5rem;
  width: 80%;
  position: relative;
  z-index: 4;
}

.login-button-twitter i {
  padding-right: 1rem;
}

.app-detail-rate {
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #ce4348 0%, #e0534b 100%);
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "larsseit", sans-serif;
  font-size: 2.5rem;
  height: 20rem;
  -ms-flex-pack: center;
  justify-content: center;
}

.app-detail-rate p {
  font-size: 1.3em;
}

.app-detail-rater {
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.app-detail-rater select {
  width: 60%;
}

.app-detail-rater button {
  margin-top: -3px;
}

.app-rating-button {
  background-color: #fff;
  border: 0;
  display: block;
  margin: 1rem auto 2rem;
  padding: .5rem;
  color: #333;
  font-size: 1em;
}

@media only screen and (max-width: 1000px) {
  .site-stappen {
    width: 100%;
  }
  .stap {
    width: 25vw;
    margin-bottom: 2rem;
  }
  .site-logo {
    width: 50%;
  }
}

@media only screen and (max-width: 620px) {
  .site {
    display: none;
  }
  .app {
    display: block;
  }
  .app-navbar {
    margin-top: -3rem;
  }
  .app-detail-title {
    margin-top: -11rem;
  }
}

@media only screen and (max-width: 550px) {
  .app-header-illustratie {
    margin-bottom: -4.5rem;
  }
  .app-navbar {
    margin-top: -3rem;
  }
  .app-detail-title {
    margin-top: -10rem;
  }
}

@media only screen and (max-width: 420px) {
  .app-navbar {
    margin-top: -2rem;
  }
  .app-logo-nav {
    width: 15rem;
    margin-bottom: -8rem;
  }
  .app-detail-title {
    margin-top: -7rem;
  }
}

@media only screen and (max-width: 350px) {
  .app-nav-active {
    margin-top: 1.5rem;
  }
  .app-nav-item a {
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .app-detail-title {
    margin-top: -6rem;
  }
  .app-detail-title h1 {
    font-size: 2rem;
  }
  .app-audio-control {
    width: 13rem;
    height: 13rem;
  }
  .app-audio-control i {
    font-size: 4rem;
    color: white;
  }
  .app-logo-nav {
    width: 10rem;
    margin-bottom: -6rem;
  }
}

@media only screen and (max-width: 320px) {
  .app-navbar {
    margin-top: -0.5rem;
  }
  .login-text p {
    font-size: 1.5rem;
  }
  .login-header {
    min-height: 100vh;
    max-height: auto;
    height: auto;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
  font-family: "larsseit", Arial, sans-serif;
  font-size: 1.6em;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

h2 {
  font-family: "larsseit", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

html,
body {
  height: 100%;
}

.site {
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #2a7fb6 0%, #1db2c1 100%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
}

.app {
  background-color: #eaeaea;
  display: none;
}

.app-header {
  background: linear-gradient(to bottom, #2a7fb6 0%, #1db2c1 100%);
  background: url(../img/img-6e41f1.png) no-repeat;
  background-size: cover;
  bottom: 0;
  display: block;
  margin-left: -.1rem;
  max-height: 40rem;
  overflow: hidden;
  padding-top: 3rem;
  z-index: 1;
}

.app-detail-header {
  height: 40rem;
}

.app-detail-imgwrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -50vw;
  margin-top: 5rem;
  width: 200vw;
}

.app-detail-headerimg {
  position: relative;
  z-index: 2;
}

.logout-knop {
  color: #fff;
  float: right;
  font-size: 3rem;
  margin-top: -.5rem;
  z-index: 3;
}

.logout-knop a {
  color: #fff;
  display: block;
  padding: 0 3rem;
}

.app-top-nav {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2.5rem;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.app-top-nav a {
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-family: "larsseit", sans-serif;
  font-size: 3rem;
  padding: 0 3rem;
  text-decoration: none;
}

.app-top-nav a em {
  font-size: 1.7rem;
  margin-left: 1rem;
}

.app-detail-topnav {
  margin-bottom: 2rem;
}

.app-wieken {
  margin-left: 0;
  margin-top: -50vw;
  position: relative;
  width: 43vw;
}

.app-logo {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative;
  width: 60vw;
  z-index: 4;
}

.app-logo-nav {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-bottom: -8rem;
  position: relative;
  width: 20rem;
  z-index: 3;
}

.app-header-illustratie {
  margin-bottom: -7rem;
  margin-top: -3rem;
  width: 100%;
}

.app-navbar {
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #ce4348 0%, #e0534b 100%);
  border-bottom: 1rem solid #e2e2e2;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: -1rem;
  position: relative;
  width: 100vw;
  z-index: 2;
}

.app-nav-item a {
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-family: "larsseit", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-decoration: none;
}

.app-nav-item i {
  font-size: 3rem;
  margin-right: 1rem;
}

.app-nav-active {
  background: url(../img/img-c31669.svg) no-repeat;
  background-size: contain;
  display: none;
  height: 2rem;
  margin-left: 4rem;
  margin-top: 1rem;
  position: absolute;
  width: 2rem;
}

.detail-nav-active {
  background: url(../img/img-ee7fac.svg) no-repeat;
}

.app-detail-title {
  margin-top: -11rem;
  position: relative;
  z-index: 3;
}

.app-detail-title h1 {
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-family: "larsseit", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

.active {
  display: block;
}

.app-audio-control {
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #ce4348 0%, #e0534b 100%);
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 12rem;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 2rem;
  top: 15rem;
  width: 12rem;
  z-index: 4;
}

.app-audio-control i {
  color: #fff;
  font-size: 6rem;
}

.app-page {
  background-color: #eaeaea;
  padding: 2rem 0 3rem;
}

.app-page-text {
  padding: 0 2rem;
}

.app-select-filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/img-c31669.svg) 96%/15% no-repeat #fff;
  background-size: 2rem;
  border: 0;
  border-radius: 0;
  box-shadow: 10px 10px 0 #e2e2e2;
  color: #ce4348;
  display: block;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 0 0 2rem;
}

.app-intro-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 0 3rem 1rem 0;
}

.app-intro-top h2 {
  text-align: left;
  margin-left: 2rem;
  text-decoration: underline;
}

.app-pand {
  background-color: #fff;
  margin-bottom: 2rem;
}

.app-pand header {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  font-family: "larsseit", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}

.app-pand aside {
  font-family: "larsseit", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.app-pand-img {
  width: 100%;
}

.app-pand-overlay {
  margin-top: -10rem;
  z-index: 1;
}

.pause {
  display: none;
}

.detail-navbar {
  background: linear-gradient(to bottom, #2a7fb6 0%, #1db2c1 100%);
  margin-top: -3rem;
}

.app-input-request {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: 10px 10px 0 #e2e2e2;
  color: #ce4348;
  display: block;
  font-size: 2rem;
  height: 5rem;
  margin: 0 auto 3rem;
  padding: 0 0 0 2rem;
  width: 80%;
}

::-webkit-input-placeholder {
  color: #1db2c1;
}

.app-request-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 0;
  border-image: linear-gradient(to bottom, #2a7fb6, #1db2c1) 1 100%;
  border-style: solid;
  border-width: 3px;
  color: #1db2c1;
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto 3rem;
  padding: 1rem 4rem;
}

.app-verzoek {
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.5rem;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 9rem;
  padding: 2rem;
}

.app-verzoek-profo {
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: -8rem;
  max-width: 10rem;
}

.app-verzoek-meta {
  color: #808080;
  font-size: 1.5rem;
  font-weight: 400;
}

.app-verzoek-inzending {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2rem;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.app-verzoek-inzending p {
  line-height: 1.5;
  margin-bottom: 0;
}

.app-verzoek-like {
  color: #e0534b;
  font-family: "larsseit", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}

.app-verzoek-like span {
  color: #1db2c1;
  display: inline-block;
  margin-left: 2rem;
}

.app-tag {
  background-color: #e0534b;
  color: #fff;
  margin: 1rem 0 0 1rem;
  padding: 1rem;
  position: absolute;
}

.app-tag-detail {
  margin-left: 0;
  margin-top: -3.6rem;
}

.molen-draai-img {
  animation: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
  margin-left: -7vw;
  margin-top: -50vw;
  position: absolute;
  width: 40vw;
}

.molen-base {
  margin-top: 20rem;
}

.molen-base-img {
  width: 30vw;
}

@keyframes example {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.molen-pos-one {
  margin-left: 5rem;
  position: relative;
  z-index: 2;
}

.molen-pos-two {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
  -webkit-filter: blur(1px);
  filter: blur(1px);
  margin-left: 30vw;
  margin-top: -39vw;
  transform: scale(0.6);
}

.app-pand-status {
  color: #808080;
}

.login-header {
  min-height: 100vh;
  max-height: 200vh;
  height: auto;
  background: linear-gradient(to bottom, #2a7fb6 0%, #1db2c1 100%);
}

.login-text {
  margin-top: 4rem;
  color: #fff;
}

.login-molen {
  position: absolute;
  bottom: 0;
}
