.app-detail-rate {
  align-items: center;
  background: linear-gradient(to bottom, $donkerrood 0%, $lichtrood 100%);
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: $slabfont;
  font-size: 2.5rem;
  height: 20rem;
  justify-content: center;

  p {font-size: 1.3em;}
}

.app-detail-rater {
  display: flex;
  width: 80%;

  select {width: 60%;}
  button {
    margin-top: -3px;
  }
}

.app-rating-button {
  @include app-button($white);
  color: $lichtzwart;
  font-size: 1em;
}

.request-disabled {
  opacity: .3;
}
