@import '../util/mixins';

.app-login-container {
  h2 {
    margin-left: 1rem;
  }
}

.login-button-facebook {
  @include center;

  background-color: $facebook;
  border: 0;
  border-radius: 3px;
  color: $white;
  font-size: 1.6em;
  margin: 2rem auto;
  padding: .5rem;
  width: 80%;

  i {
    padding-right: 1rem;
  }
}
