@import '../util/mixins';

.app-login-container {
  padding-top: 2rem;

  h2 {
    margin-left: 1rem;
  }
}

.login-button-facebook {
  background-color: $facebook;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.6em;
  margin: 1rem auto;
  padding: .5rem;
  width: 80%;

  i {
    padding-right: 1rem;
  }
}
