<header class='app-header'>
  <img class='app-logo' src='assets/svg/logo.svg' alt='Silent Schiedam'/>
</header>
<main class='app-page'>
</main>

{{#section 'head'}}
{{/section}}

{{#section 'scripts'}}
{{/section}}
