
<header class='app-header'>
      <img class='app-logo' src='assets/svg/logo.svg' alt='Silent Schiedam'/>
      <img class='app-header-illustratie' src='assets/svg/header2.svg' alt='Silent Schiedam'/>
      <img class='app-wieken' src='assets/img/wieken.gif' alt=''>
  </header>
<main class='react-container'>

</main>

{{#section 'head'}}
{{/section}}

{{#section 'scripts'}}
{{/section}}
