<header class='app-header'>
  <img class='app-logo' src='assets/svg/logo.svg' alt='Silent Schiedam'/>
  <div class="app-header-illustratie">
    <div class="molenbase molen-pos-one">
      <img src="assets/svg/base.svg" alt="" class="molen-base-img">
      <img src="assets/svg/draai.svg" alt="" class="molen-draai-img">
    </div>
    <div class="molenbase molen-pos-two">
      <img src="assets/svg/base.svg" alt="" class="molen-base-img">
      <img src="assets/svg/draai.svg" alt="" class="molen-draai-img">
    </div>
  </div>
</header>
<main class='react-container'>

</main>

{{#section 'head'}}
{{/section}}

{{#section 'scripts'}}
{{/section}}
