<main class='react-container'>
  <header class='app-header'>
      <nav class='app-top-nav'>
        <a href='#'><i class='fa fa-calendar-o' aria-hidden='true'></i> <em>1 juli 2016</em></a>
        <a href='#'><i class='fa fa-user' aria-hidden='true'></i></a>
      </nav>
      <img class='app-logo' src='assets/svg/logo.svg' alt='Silent Schiedam'/>
      <img class='app-header-illustratie' src='assets/svg/header2.svg' alt='Silent Schiedam'/>
      <img class='app-wieken' src='assets/img/wieken.gif' alt=''>
  </header>
</main>

{{#section 'head'}}
{{/section}}

{{#section 'scripts'}}
{{/section}}
