<main>
</main>

{{#section 'head'}}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen">
<script src="//www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.js"></script>
<link rel="stylesheet" href="//www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.css" />
{{/section}}

{{#section 'scripts'}}
{{/section}}
